.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 200px;
    font-size: 36px;
    text-align: center;
    margin: 12px 0px;
}

.content {
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin: 4px 0px;
}
